@page "{id}"
@model DeleteModel
@{
	ViewData["Title"]="Delete Product";
}



<div class="container d-flex justify-content-center">
	<div class="col-6" >
		<form method="post">
			<div class="alert alert-dismissible alert-danger">
  		<a type="button" class="btn-close" asp-page="Index"></a>
  		<h4 class="alert-heading">Warning!</h4>
  		<p class="mb-0">Are you sure you want to delete <strong class="text-primary" >@Model.product.Name</strong></p>
			<br/>
			<button type="submit" class="btn btn-danger text-uppercase btn-sm">delete</button>
			</div>
		</form>
	</div>
</div>
