@page "{id}"
@model SingleProductModel
@{
	ViewData["Title"]=Model.product.Name;
}

<div class="container d-flex justify-content-start">
	<div class="col-6">
		<h1 class="text-info text-capitalize" >@Model.product.Name Product</h1>
		<div class="d-flex justify-content-between" >
			<h3 class="text-primary text-capitalize" >@Model.product.Type</h3>
			<h3 class="text-primary ">$ @Model.product.Price</h3>
		</div>
		<p class="text-muted" >@Model.product.summary</p>
		<a class="text-info text-capitalize" asp-page="/Products/Index" >
			back to products
		</a>
	</div>
</div>


