@page "{id}"
@model UpdateProductModel
@{
	ViewData["Title"]="Update Product";
}


<div class="d-flex justify-content-center">
	 <div class="col-md-4">
        <form method="post">
        		<legend class="text-primary">Update Product</legend>
            <div class="form-group mt-2">
                <label asp-for="updatedProduct.Name" class="control-label"></label>
                <input asp-for="updatedProduct.Name" value="@Model.product.Name" class="form-control" />
                <span asp-validation-for="updatedProduct.Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="updatedProduct.Price" class="control-label"></label>
                <input asp-for="updatedProduct.Price" type="number" min="1" max="1000" class="form-control" value="@Model.product.Price" />
                <span  asp-validation-for="updatedProduct.Price" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="updatedProduct.Type" class="control-label"></label>
                <input asp-for="updatedProduct.Type" value="@Model.product.Type"  class="form-control" />
                <span asp-validation-for="updatedProduct.Type"  class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="updatedProduct.summary" class="control-label"></label>
                <input class="form-control" rows="3" asp-for="updatedProduct.summary" value="@Model.product.summary" >
                <span asp-validation-for="updatedProduct.summary" class="text-danger"></span>
            </div>
            <div  class="form-group mt-2 d-flex align-items-center justify-content-between ">
                <input type="submit" value="Update" class="btn btn-primary" />
				<a class="text-info text-capitalize" asp-page="/Products/Index" >
				back to products
				</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

